[build]
  base = "neurofoto-guide"
  command = "npm install && npm run build"
  publish = "neurofoto-guide/dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
